<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main style="background-color:aquamarine;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <h1>Graph One</h1>
                            <div id="graph2">
                            </div>
                            <div class="card-body">
                                {{ fig1 | safe}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <h1>Graph One</h1>
                            <div id="graph2">
                            </div>
                            <div class="card-body">
                                {{ fig2 | safe}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <h1>Graph One</h1>
                            <div id="graph2">
                            </div>
                            <div class="card-body">
                                {{ fig3 | safe}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <h1>Graph One</h1>
                            <div id="graph2">
                            </div>
                            <div class="card-body">
                                {{ fig4 | safe}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <h1>Graph One</h1>
                            <div id="graph2">
                            </div>
                            <div class="card-body">
                                {{ fig5 | safe}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <h1>Graph One</h1>
                            <div id="graph2">
                            </div>
                            <div class="card-body">
                                {{ fig6 | safe}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <h1>Graph One</h1>
                            <div id="graph2">
                            </div>
                            <div class="card-body">
                                {{ fig7 | safe}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <h1>Graph One</h1>
                            <div id="graph2">
                            </div>
                            <div class="card-body">
                                {{ fig8 | safe}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <h1>Graph One</h1>
                            <div id="graph2">
                            </div>
                            <div class="card-body">
                                {{ fig9 | safe}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <h1>Graph One</h1>
                            <div id="graph2">
                            </div>
                            <div class="card-body">
                                {{ fig10 | safe}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <h1>Graph One</h1>
                            <div id="graph2">
                            </div>
                            <div class="card-body">
                                {{ fig11 | safe}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <h1>Graph One</h1>
                            <div id="graph2">
                            </div>
                            <div class="card-body">
                                {{ fig12 | safe}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <h1>Graph One</h1>
                            <div id="graph2">
                            </div>
                            <div class="card-body">
                                {{ fig13 | safe}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <h1>Graph One</h1>
                            <div id="graph2">
                            </div>
                            <div class="card-body">
                                {{ fig14 | safe}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <h1>Graph One</h1>
                            <div id="graph2">
                            </div>
                            <div class="card-body">
                                {{ fig15 | safe}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <h1>Graph One</h1>
                            <div id="graph2">
                            </div>
                            <div class="card-body">
                                {{ fig16 | safe}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <h1>Graph One</h1>
                            <div id="graph2">
                            </div>
                            <div class="card-body">
                                {{ fig17 | safe}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <h1>Graph One</h1>
                            <div id="graph2">
                            </div>
                            <div class="card-body">
                                {{ fig18 | safe}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <h1>Graph One</h1>
                            <div id="graph2">
                            </div>
                            <div class="card-body">
                                {{ fig19 | safe}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <h1>Graph One</h1>
                            <div id="graph2">
                            </div>
                            <div class="card-body">
                                {{ fig20 | safe}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <h1>Graph One</h1>
                            <div id="graph2">
                            </div>
                            <div class="card-body">
                                {{ fig21 | safe}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <h1>Graph One</h1>
                            <div id="graph2">
                            </div>
                            <div class="card-body">
                                {{ fig22 | safe}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <h1>Graph One</h1>
                            <div id="graph2">
                            </div>
                            <div class="card-body">
                                {{ fig23 | safe}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <h1>Graph One</h1>
                            <div id="graph2">
                            </div>
                            <div class="card-body">
                                {{ fig24 | safe}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <h1>Graph One</h1>
                            <div id="graph2">
                            </div>
                            <div class="card-body">
                                {{ fig25 | safe}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <h1>Graph One</h1>
                            <div id="graph2">
                            </div>
                            <div class="card-body">
                                {{ fig26 | safe}}
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>        
    </main>
</body>
</html>